body {
  margin: 0;
  background-color: #eee;
  color: #333;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

:root {
  --task-color: #57f;
}

.task-flex {
  text-align: center;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  white-space: nowrap;
  margin: 10px;
}

.task {
  float: left;
  margin: 10px;
  width: 260px;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid var(--task-color);
  scroll-snap-align: center;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.task-head,
.task-body,
.task-foot {
  padding: 0.6em 0;
}

.task-head {
  background-color: var(--task-color);
  color: white;
  cursor: pointer;
}

.task h3 {
  margin: 0 0;
}

input[type="submit"],
button {
  color: var(--task-color);
  background-color: white;
  padding: 5px 12px;
  border-radius: 4px;
  border: 0;
  font: inherit;
}

input[type="submit"]:disabled,
button:disabled {
  color: lightgray;
}

input,
select {
  padding: 5px 12px;
  margin: 5px 3px;
  background-color: white;
  color: inherit;
  border-radius: 4px;
  border: 0;
}

input,
option {
  color: var(--task-color);
}

.task-timer {
  box-sizing: border-box;
  height: 4px;
  background-color: var(--task-color);
  transition: width 0.3s ease-in;
}
