:root {
  --background-color: #eee;
  --color: #333;
  --background-color-strong: white;
  --color-strong: white;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #222;
    --color: #ddd;
    --background-color-strong: black;
    --color-strong: white;
  }
}
*/

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--color);
  font-family: "Averia Sans Libre", cursive;
}

:root {
  --task-color: #57f;
  --task-start-button-size: 50px;
}

.task {
  margin: 10px;
  clear: both;
}

.task-head {
  margin-bottom: 10px;
}

.task-body {
  min-height: var(--task-start-button-size);
  width: 300px;
}

.task-head,
.task-body,
.task-foot {
  float: left;
  padding: 0.3em;
  color: var(--task-color);
}

.task h3 {
  margin: 0 0;
}

button {
  background-color: var(--background-color-strong);
  color: inherit;
  padding: 5px 12px;
  border-radius: 4px;
  border: 0;
  font: inherit;
  margin: 4px 3px;
  cursor: pointer;
}

button:disabled,
option:disabled {
  color: lightgray;
  cursor: default;
}

input,
select {
  font: inherit;
  padding: 4px 8px;
  margin: 4px 3px;
  background-color: var(--background-color-strong);
  color: var(--task-color);
  border-radius: 4px;
  border: 0;
}

option {
  color: var(--task-color);
  font-family: inherit;
}

input[type="number"] {
  max-width: 3em;
}

button.delete {
  color: var(--color-strong);
  background-color: var(--task-color);
}

button.new-task {
  background-color: var(--color);
  color: var(--background-color);
}

optgroup {
  color: var(--color);
}

.task-timer-container {
  float: left;
  background-color: var(--task-color);
  color: var(--color-strong);
  position: relative;
  height: var(--task-start-button-size);
  width: var(--task-start-button-size);
  border-radius: calc(var(--task-start-button-size) / 2);
  overflow: hidden;
}

.task-timer,
.task-timer-container button,
.task-timer-container img {
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.task-timer {
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.1);
  transition: width 0.3s ease-in;
}

.task-timer-container button {
  background-color: transparent;
  margin: 0;
  z-index: 2;
  padding: 0.3em;
}

.task-timer-container button:disabled {
  background-color: rgba(255, 255, 255, 0.4);
}

:root {
  --icon-size: 32px;
}

.task-timer-container img {
  width: var(--icon-size);
  height: var(--icon-size);
  --icon-offset: calc(var(--icon-size) / 2);
  left: calc(50% - var(--icon-offset));
  top: calc(50% - var(--icon-offset));
}
