footer {
  padding: 8px;
  font-size: 0.85em;
  line-height: 1.3em;
  text-align: right;

  opacity: 0.6;
  transition: opacity 0.3s ease-out;

  float: right;
  max-width: 300px;
}

footer:hover {
  opacity: 0.8;
}
